<h2 class="page-header">Profile</h2>

<table class = "table table-hover">
  <tr>
    <th height = "35">Event</th>
    <th width = "20%" height = "35">Date</th> 
    <th>Venue</th>
    <th>Category</th>
    <th>Mark </th>
  </tr>

  {{!--<script> var events = {{{data}}}; console.log(events);</script>
  <script src="js/moment.min.js"></script>
  <script src="js/ulkof.js"></script>--}}

  {{#each data}}
  <tr>
    <td>{{Title}}</td>
    <td>{{Date}}</td>
    <td>{{Venue}}</td>
    <td>{{Category}}</td>
    <td>
      <form action="/profile/markEvent" method="post">
        <input type="hidden" name="event_id" value="{{Event_id}}"/>
        <input type="submit" value="Mark" id="submit"/>
       <a href="/get">read</a> <p></p>
      </form>
    </td>
  </tr>
  {{/each}}
</table>